.feature {
  display: flex;
  height: 364px;
}
.feature img {
  height: 100px;
  width: 100px;
  border: 10px solid #00bc77;
  border-radius: 50%;
  padding: 1rem;
}
@media (max-width : 919px) {
  .feature {
      height: auto;
      flex-direction: column;
      align-items: center;
  }
}